<h1>Hello this is the hack I am currently working on</h1>
<form action="/send" method="post">
  	Simulate outgoing sms:<br>
  	<input type="text" name="to" value="+14133208380"><br>
  	<input type="text" name="msg" placeholder="iguana"><br>
  	<input type="submit" value="Submit">
</form> 
<br>
<form action="/receive" method="post">
	<input type="text" name="from" value="+14133208380"><br>
	<input type="text" name="msg" placeholder="message"><br>
	<input type="text" name="zip" value="0"><br>
	<input type="text" name="city" placeholder="0"><br>
	<input type="text" name="state" placeholder="0"><br>
  	<input type="submit" value="Simulate incoming sms">
</form> 